.bg-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    /* position: absolute; */
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}

.overlay {
    position: absolute;
    max-width: 70%;
    top: 0;
    left: 15%;
    max-height: 100vh;
}

.hero-section-img {
    width: 420px;
    height: 420px;
}

.header-button {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 10px 30px;
    white-space: nowrap;
    text-align: center;
    border: none;
}

.header-button:hover {
    background-color: black;
    color: rgb(0, 255, 255);
}

.consent {
    display: flex;
    margin-top: 20px;
}

.consent-label {
    cursor: pointer;
    font-size: 10px;
    display: flex;
    position: relative;
    align-items: center;
}