.max-width {
    max-width: 70%;
    margin: auto;
}

@media all and (max-width: 767px) {
    .max-width{
        max-width: 90%;
    }
}

.flex {
    display: flex;
}

.absolute-center {
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}