.max-width {
    max-width: 70%;
    margin: auto;
}

@media all and (max-width: 767px) {
    .max-width{
        max-width: 90%;
    }
}

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
    align-items: center;
}

.bg-transparent {
    background-color: transparent;
}

.font-white {
    color: white;
}