.compliant-container {
    background-color: black;
    text-align: center;
    padding: 70px 50px;
    font-weight: 500px;
    font-size: 25px;
    color: rgba(191,201,204);
    line-height: 30px;
}

@media all and (max-width: 768px) {
    .compliant-container {
        padding: 65px 30px;
        font-size: 15px;
        line-height: 25px;
    }
}