.vertical-card-container {
    padding: 100px 50px;
}

.vertical-card-img {
    width: 100px;
    height: 100px;
}

.vertical-card-subheading {
    color: rgba(142,147,147);
    font-weight: 500px;
    font-size: large;
    line-height: 30px;
}

.vertical-card-subheading-img {
    width: 80px;
    height: 70px;
}

@media all and (max-width: 768px) {
    
}